body {
  font-size: 16px;
}

.logo {
  margin-top: 10px;
}

// Header widgets
.header-widgets {
  @widget-color: #a6aeb4;
  @widget-highlight-color: #80878a;

  .widget-icon-box, .icon-box__subtitle {
    color: @widget-color;
  }

  .widget-icon-box .icon-box, .textwidget {
    color: @widget-highlight-color;
  }

  .widget-icon-box .icon-box:hover .fa {
    color: darken(@widget-highlight-color, 20%);
  }
}

  // Home CTA
.jumbotron {
  margin-bottom: 30px;
}

.carousel {
  .carousel-content {
    background: transparent;
    width: 500px;
    left: 59%;
    margin-left: -250px;
    text-align: center;
    top: 70%;
  }
  .jumbotron__content {
    .btn {
      color: #fff;
      width: 250px;
      box-shadow: 1px 1px 2px rgba(0,0,0,.6);
      text-transform: uppercase;
    }
  }
  .jumbotron__title {
    display: none;
  }
  .carousel-inner > .item:nth-child(2) {
    .carousel-content {
      left: 50%;
    }
  }

  @media (max-width: 991px) {
    .carousel-content {
      margin-top: 20px;
    }
  }
}

// Product grid
.more-products-grid-link {
  text-align: center;

  > a {
    color: #ccc;

    &:hover {
      color: #fff;
    }
  }

  @media(min-width: 480px) {
    text-align: right;
  }

  @media(min-width: 992px) {
    z-index: 51;
    position: absolute;
    right: 0;
  }
}

// Call to action button set
.cta-set {
  text-align: center;
  > .btn {
    margin: 0 10px;
    min-width: 150px;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,.3);
  }
}

// Certificaciones page
.small-titles {
  .panel .widget-title {
    font-size: 16px;
    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
}

// Home certificaciones side by side
.icon-label {
  font-size: 16px;
  font-weight: bold;

  > span {
    display: table-cell;

    &:first-child > img {
      width: 150px;
      padding-right: 20px;
    }
  }
}

// Product page metadata
.project__meta-data {
  display: none;
}

.project__content > h4:first-child {
  margin-top: 0;
}

// Product page carousel
.product-carousel {
  margin-bottom: 30px;
  padding: 0 30px;
  position: relative;

  .carousel-control {
    display: none !important;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 100px;
    background: @secondary-color;
    border-radius: 107px;
    font-size: 22px;

    &:hover {
      background: @main-color;
    }

    @media (min-width: 768px) {
      display: block !important;
    }
  }

  .carousel-prev {
    left: 0;
    padding: 2px 3px 0 0;
  }

  .carousel-next {
    right: 0;
    left: auto;
    padding: 2px 0 0 3px;
  }

  .carousel-pagination {
    text-align: center;

    a {
      width: 13px;
      height: 13px;
      margin: 0 5px 0 0;
      display: inline-block;
      border-radius: 100px;
      background: @secondary-color;

      &.selected {
        background: @main-color;
      }

      span {
        display: none;
      }
    }
  }
}

.product-image-thumb {
  float: left;
  display: block;
  margin: 0;
  width: 100%;
  min-height: 200px;

  @media (min-width: 480px) {
    width: 50%;
  }

  @media (min-width: 768px) {
    width: 33.33%;
  }

  img {
    width: 100%;
    padding: 6px;

    @media (min-width: 480px) {
      padding: 16px;
    }
  }
}

.wpcf7-text, .wpcf7-textarea {
  padding: 10px;
}

// Service gallery
.service-images {
  display: none;
}

.widget_pt_featured_service {
  .wp-post-image {
    margin-bottom: 0;
  }
  .page-box__title{
    min-height: 30px;
    margin-top: 15px;
  }
}

.page-id-2412, // Gallery page
.page-id-2248 // Instalacion de nuestros productos page
{
  .nivo-lightbox-title-wrap {
    display: none;
  }
}